<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>URL</key>
        <dict>
            <!-- This defines the name of the URL service as "Your Unique Name"-->
            <!-- This is what you name the folder containing the ServiceCode.pys for your URL Service code-->
            <key>MakeMKV</key>
                <dict>
                    <!-- You must set the URL patterns for your URL Service code so Plex knows which URLs to send to this service-->
                    <key>URLPatterns</key>
                        <!-- Within the following array, you can add as many strings as needed to define the possible URL Patterns sent to your URL service-->
                        <!-- You use regular expressions to define your URL Patterns-->
                        <!-- You should use Perl 5 regular expressions for this file-->
                        <array>
                            <!-- This string below is an example that allows any variation of the website's address to be entered -->
                            <!-- Where DOMAINNAME is the base address of the site like yahoo.com, youtube.com, etc. -->
                            <string>http://([^.]+.)?127.0.0.1:51000/.+</string> 		
                        </array>
      
            </dict>
        </dict>
    <!-- OPTIONAL PlexFrameworkFlags KEY -->
    <key>PlexFrameworkFlags</key>
        <array>
            <!-- possible values are UseRealRTMP -->	
            <string>UseRealRTMP</string>
        </array>
</dict>
</plist>
